<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}no-title{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">

</head>
<body>

    {% include 'partials/header.html' %}

    <div class="content">
        
        {% block content %} {% endblock %}

    </div>

    {% include 'partials/footer.html' %}


    <link rel="stylesheet" href="css/main.min.css">
    <script src="js/app.bundle.js"></script>

</body>
</html>